[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
name = "pytorch"
url = "https://download.pytorch.org/whl/cu118"
verify_ssl = false

[packages]
hydra-core = "*"
pydantic = "*"
opencv-python-headless = "*"
openai = "*"
aider-chat = "*"
tensorboard = "*"
matplotlib = "*"
wandb = "*"
awscli = "*"
pandas = "*"
scikit-image = "*"
torchvision = "*"
torch = "*"
bitsandbytes = {file = "https://github.com/bitsandbytes-foundation/bitsandbytes/releases/download/continuous-release_multi-backend-refactor/bitsandbytes-0.44.1.dev0-py3-none-manylinux_2_24_x86_64.whl"}
av = "*"
datasets = "*"
ujson = "*"
hydra-colorlog = "*"
joblib = "*"
nvitop = "*"
h5pickle = "*"
boto3 = "*"
questionary = "*"

[dev-packages]

[requires]
python_version = "3.10"
